.section {
    position: relative;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px #999;
  }
  
  .section__title {
    margin: 0;
    padding: 20px;
    border-bottom: 3px solid #bbb;
  }
  
  .section__content {
    margin: 0;
    padding: 20px;
  }
  
  .section__externals {
    position: absolute;
    top: 20px;
    right: 5px;
  }
  
  .section__externals--hide {
    display: none;
  }
  
  @media (max-width: 530px) {
    .section__externals {
      position: relative;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }