.externals {
    position: absolute;
    top: 20px;
    right: 5px;
}

@media (max-width: 530px) {
    .externals {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
    }
}

.externals--hide {
    display: none;
}

.externals__button {
    margin: 0;
    padding: 5px 10px;
    border: none;
    color: #007f80;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s
}

.externals__button--disabled {
    margin: 0;
    padding: 5px 10px;
    border: none;
    color: #909090;
    background-color: transparent;

}

.externals__button:hover {
    color: #00cccc;
}